.stories {
  border: 1px solid rgb(219, 219, 219);
  border-radius: 3px;
  max-width: 600px;
  width: 100%;
  background-color: #fafafa;
  padding: 10px 8px;
  display: flex;
  gap: 10px;
  overflow-x: auto;
}

.story {
  position: relative;
  flex: 0 0 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80px;
  overflow-x: hidden;
  cursor: pointer;
}

.story__avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 56px;
  width: 56px;
  border-radius: 50%;
  border: 1px solid black;
  overflow: hidden;
}
.story__avatar_new {
  border: 1px solid red;
}

.story__avatar > .avatar {
  height: 56px;
  width: 56px;
  border-radius: 50%;
}
.story__username {
  white-space: nowrap;
  margin-top: 4px;
  text-overflow: ellipsis;
}
